.app {
  padding: 30px;
}

.activeCard {
  border: 1px solid #177ddc;
}

.weatherCard {
  margin: 30px 15px;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    border: 1px solid #177ddc;
  }
  #subTitle {
    margin-top: -15px;
    opacity: 80%;
  }
  #tempDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    #temp {
      font-size: 75px;
    }
    #unit {
      vertical-align: super;
      position: relative;
      top: -30px;
      span:nth-child(1) {
        position: relative;
        top: -8px;
      }
      span:nth-child(2) {
        font-size: 20px;
      }
    }
  }
  #otherStatsDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    div {
      text-align: center;
    }
  }
}

.navArrow {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  & *:hover {
    color: #898787;
  }
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}

.radios {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.cardSkeleton {
  height: 160px;
}

.emptyChartDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  .noChartTxt {
    font-size: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .weatherCard {
    margin: 0;
  }
  .emptyChartDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    .noChartTxt {
      font-size: 20px;
    }
  }
}
